.home-wraper {
	.home-button-wraper {
	    padding:  20px;
	    text-align:  center;

	    .home-button-new {
	    	margin-right: 20px;
	    }
	}
	.home-recent-file-wraper {
		padding: 20px;
		.home-recent-file-title {

		}
		.home-recent-file-lists {
			width: 100%;
		}
	}
}