.form-attributes-bottom-button-row {
	margin-top: 20px;
}
.my-dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}